h1 {
    color: rgb(209, 66, 66);
    background-color: white;
    border:10px solid darkturquoise;
    text-align: center;
}
p{

    color: blue;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    border: 2px solid black;
    background-color: lightgray;
    padding: 10px;
    text-decoration: double underline;
}