.sample{
    animation: 5s downward 5 alternate-reverse;
    

}

@keyframes downward{
    0%{
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(500px, 500px);
    }
}

h2{
    animation: 3s colorchange infinite;
}

@keyframes colorchange{
    0%{
        color: red;
    }
    25%{
        color: blue;
    }
    50%{
        color: green;
    }
    75%{
        color: yellow;
    }
    100%{
        color: red;
    }
}